<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <body>
        <h1><%= genero.name %> </h1>
        <div>Ranking: <%=genero.ranking%></div>
        <br>
        <a href="/genres"><button>Regresar</button></a>
    </body>
</html>