<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
<h1> ¿Desea borrar la película?</h1>
<form action="/movies/<%=pelicula.id%>/delete" method="POST">
    <button type="submit">Eliminar</button>
    </form>
    <a class="regresar" href="/movies"><button>Regresar</button></a>
</html>